[flake8]
exclude = 
    migrations
    __pycache__,
    manage.py
    settings.py

extend-ignore =
    # Ignore f-strings, we like them:
    SFS301

format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s

[flake8]
select = C4