{% extends 'core/base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-header text-black bg-warning">
                        <div class="card-title text-body">
                            <center><h5 class="align-items-center mx-auto">Login</h5></center>
                        </div>
                    </div>
                    <div class="card-body bg-black">
                        <form class="text-center" method="POST" action="">
                            {% csrf_token %}
                            
                            <!-- {{ form }} -->
                            {% for field in form %}
                            
                                <div class="form-group">
                                    <strong>{{ field.name }}</strong>
                                    {{ field }}
                                </div>
                                <br>
                            {% endfor %}
                            <br>
                            <button class="btn btn-md btn-dark btn-outline-dark btn-block bg-warning" type="submit">Login</button>
                            <br>
                            <a class="text-primary badge badge-pill badge-warning bg-light text-decoration-none" href="{% url 'register' %}" >Sign Up</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
