{% extends 'core/base.html' %}
<body>

    {% block body %}        
        
        {% for user in users_list %}
            <div class="row align-items-center">
                <div class="col-md-3 offset-md-2">
                    <img class="card" height="185px" width="150px" src="{{ user.user_image }}" alt="">
                </div>
                <div class="col-md-4">
                    <ul style="list-style-type: none">
                        <li>
                            <h3>{{ user.username }}</h3>
                            <hr>
                            <h5>{{ user.first_name }}</h5>
                        </li>
                    </ul>
                </div>                
                <div class="col-md-2">
                    <a href="{% url 'core:showcase' user.id %}" class="btn btn-success">Details</a>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
</body>
